.item, .generateButton {
    margin: auto;
    max-width: 200px;
    text-align: center;
}
.item {
    border-style: solid;
    background-color: #9e9e9e80;
}
#itemName {
    font-family: fantasy;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
}
#itemStats {
    font-size: 1.1em;
    text-align: left;
    padding-left: 20px;
}